body {
    overflow-x: hidden;
}

.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(201, 177, 177);
    padding-bottom: 10px;
    overflow-x: hidden;
}

.usd {
    display: flex;
    padding-right: 30px;
    justify-content: space-evenly;
    overflow-x: hidden;
}

/* .usd article i {
    padding-right: 60px;

} */

#hot {
    background-color: blue;
    padding: 5px;
    border-radius: 10px 20px 10px 20px;
    margin-left: 30px;
    overflow-x: hidden;
}

.hd {
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

#u {
    padding-right: 40px;
    padding-top: 5px;
}

#e {
    padding-right: 40px;
    padding-top: 5px;
}

#n {
    padding-right: 40px;
    padding-top: 5px;
}

#p {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

#c {
    background-color: blue;
    border-radius: 10px;
    padding: 5px;
}

.nav1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    text-align: center;
    overflow-x: hidden;
}

.img1 {
    width: 160px;
}

.nav1 .sa i {
    background-color: rgb(241, 229, 229);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;

}

.sa {
    display: flex;
    margin-left: 20px;
    overflow-x: hidden;
}

.sa div {
    padding-left: 30px;
}

@media (max-width:1024px) {
    .nav1 {
        display: block;
    }

    .nav1 .sa i {
        margin-left: 100px;
        align-items: center;
    }
}

.search input {
    padding: 15px 350px 15px 20px;
    border-radius: 20px;
    margin-left: 100px;
}

#lo i {
    padding: 20px;
}

.sa div a {
    text-decoration: none;
}

.nav3 b {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: 1000px;
    font-size: 18px;
    overflow: hidden;
}
.lll{
    background-color: rgb(183, 205, 224);
    padding: 90px;
  text-align: center;
  font-size: 40px;
}
.log{
    display: flex;
    justify-content: space-evenly;
}
.ra{
    font-size: 23px;
}
.log input{
    width: 500px;
    padding: 20px;
}
#das{
    padding: 0px 50px 0px 0px;
}