.nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(201, 177, 177);
    padding-bottom: 10px;
    overflow-x: hidden;
}

.usd {
    display: flex;
    padding-right: 30px;
    justify-content: space-evenly;
    overflow-x: hidden;
}

/* .usd article i {
    padding-right: 60px;

} */

#hot {
    background-color: blue;
    padding: 5px;
    border-radius: 10px 20px 10px 20px;
    margin-left: 30px;
    overflow-x: hidden;
}

.hd {
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

#u {
    padding-right: 40px;
    padding-top: 5px;
}

#e {
    padding-right: 40px;
    padding-top: 5px;
}

#n {
    padding-right: 40px;
    padding-top: 5px;
}

#p {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

#c {
    background-color: blue;
    border-radius: 10px;
    padding: 5px;
}

.nav1 {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    text-align: center;
    overflow-x: hidden;
}

.img1 {
    width: 160px;
}

.nav1 .sa i {
    background-color: rgb(241, 229, 229);
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;

}
.sa {
    display: flex;
    margin-left: 20px;
    overflow-x: hidden;
}

.sa div {
    padding-left: 30px;
}

.search input {
    padding: 15px 350px 15px 20px;
    border-radius: 20px;
    margin-left: 100px;
}

#lo i {
    padding: 20px;
}

.sa div a {
    text-decoration: none;
}

.nav3 b {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: 1000px;
    font-size: 18px;
    overflow: hidden;
}
.wa{
    background-color: rgb(239, 243, 246);
    text-align: center;
    padding: 70px;
}
#wa1{
    font-size: 28px;
    font-weight: 600;
}
.wa2{
    font-size: 30px;
    /* padding-bottom: 400px; */
}
.wa3 i{
font-size: 88px;
}
.wa3{
    text-align: center;
    padding: 200px;
}
.go{
    background-color: rgb(57, 19, 19);
    color: white;
    padding: 20px;
    width: 130px;
    margin-left: 460px;
    border-radius: 20px;
}
.log{
    display: flex;
    justify-content: space-evenly;
   padding-top: 50px;
}
.log1{
    display: flex;
    background-color: blue;
    width: 600px;
    padding: 40px;
    border-radius: 20px;
}
.log2{
    display: flex;
    border: 1px solid;
    justify-content: space-evenly;
    width: 600px;
   align-items: center;
   font-size: 22px;
   border-radius: 20px;
}
.cv1{
    padding-left: 30px;
    width: 60px;
}
.log1 div b{
font-size: 24px;
} 
.log1 div {
    padding: 30px 0px 0px 20px;
}
.addd{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}
.addd article div{
    padding: 10px;
}
#r{
  font-size: 22px;  
}